---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Enablers</h2>
		<p>The ability to identify, leverage, and optimize the tools, data sources, and foundational systems needed to deliver high-quality work efficiently.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Quality Champions</h2>
		<p>The commitment and capability to uphold high standards, validate outputs, and ensure accuracy, reliability, and continuous improvement in every task.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="paper-plane-tilt" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Client Delivery</h2>
		<p>The skill of transforming technical work into clear insights, actionable outcomes, and a polished, client-ready experience that meets or exceeds expectations.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
